body {
    margin: 0px;
}

h3,
ul,
li,
p {
    margin: 0;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

li {
    list-style: none;
  }

a {
    text-decoration: none;
    background-color: transparent;
}

h3 {
    font-size: 2rem;
}

.page {
    width: 100vw;
    min-width: 320px;
    min-height: 100vh;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    color: #111111;
    text-align: center;
    background-blend-mode: multiply;
    transition: background-image 1s ease-in-out;
    background-repeat: no-repeat;
    background-size: 100%;
}

.header__wrapper-header {
    height: 80px;
    background-color: #fffeb6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.header__logo {
    background-image: url(https://birds-quiz.netlify.app/static/media/logo.4f82cd73.svg);
    width: 200px;
    height: 55px;
    background-size: contain;
    background-repeat: no-repeat;
}

.header__list {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.header__link {
    cursor: pointer;
}

.footer {
    height: 80px;
    margin-bottom: 0px;
    background-color: #fffeb6;
    bottom: 0px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.main {
    padding-left: 20px;
    padding-right: 20px;
    min-height: calc(100vh - 160px); 
    display: flex;
    background-color: darkseagreen;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    max-width: 1110px;
    height: 100%;
}

.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 25px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #008966;
    
}

.pagination__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 185px;
    height: 35px;
    background-color: #008966;
    border-color: #007c5d;
}

.pagination__item.active {
    background-color: #00bc8c;
}

.random-bird {
    padding-left: 16px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    background-color: #fffeb6;
    display: flex;
    border-radius: 5px;
}

.bird-image {
    width: 200px;
    height: 155px;
    border-radius: 10px;
    margin: 0;
}

.random-bird__group {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    padding-right: 40px;
    width: 100%;
    align-items: flex-start; 
}

.information-bird__group {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    padding-right: 20px;
    width: 100%;
    align-items: flex-start;  
}

.list-group-item {
    border: 1px solid #555;
}

.random-bird__wrapper-name-bird {
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: flex-start;
}

.information-bird__wrapper-name-bird {
    display: flex;
    padding-bottom: 0.5rem;
    justify-content: flex-start;
}

.information-bird__wrapper-species-bird {
    display: flex;
    justify-content: flex-start;
}

.list-group-item.random-bird__wrapper-name-bird,
.list-group-item.information-bird__wrapper-name-bird,
.list-group-item.information-bird__wrapper-species-bird {
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    width: 100%;
}

.list-group-item.random-bird__wrapper-audio-player,
.list-group-item.information-bird__wrapper-audio-player {
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    width: 100%;

}

.information-bird__species-bird {
    margin-top: 20px;
}

.audio-player {
    margin: 10px 40px 8px 0;
    width: 100%;
    min-width: 100px;
}

.controls {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.wrapper-play-timebar {
    display: flex;
    align-items: center;
}

.playback-button {
    transition: .2s;
    width: 40px;
    height: 40px;
    border: 2px solid #00bc8c;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 12px;
    cursor: pointer;
}

.timebar {
    position: relative;
    display: flex;
    width: calc(100% - 60px);
    background-color: #555;
    height: 5px;
}

.timebar:hover {
    cursor: pointer;
}

.timebar-bar {
    width: 0%;
    height: 5px;
    background-color: #008966;

}

.timebar-circle {
    background-color: grey;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    -webkit-transform: translate(-50%,calc(-50% + 2px));
    transform: translate(-50%,calc(-50% + 2px));
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 20%);
    cursor: pointer;
}

.play-pause {
    height: 50px;
    width: 50px;
    filter: invert(1);
    cursor: pointer;
    bottom: 15%;
    font-size: 53px;
    left: 9%;
    border: 0;
    background-image: url("./../assets/image/play.png");
    background-size: contain;
    margin-right: 20px;
    cursor: pointer;
    filter: drop-shadow(2px 2px 2px #00bc8c);
    background-repeat: no-repeat;
}

.pause {
    background-image: url("./../assets/image/pause.png");
}

.timebar-time-info {
    margin-top: 8px;
    font-size: 11px;
    color: #555;
    display: flex;
    justify-content: space-between;
}

.wrapper-answers-information {
    display: flex;
    margin-top: 20px;
    justify-content: space-between; 
}

.answers {
    align-self: flex-start;
    width: 48%;
}

.information-bird {
    width: 48%;
    background-color: #fffeb6;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid #555;
}

.information-bird__wrapper-image-player {
    display: none;
    margin-left: 20px;
    margin-top: 20px;
}

.information-bird__wrapper-image-player.active {
    display: flex;
    justify-content: flex-start;
    gap:20px;
}

.information-bird__task {
    align-self: flex-start;
    margin-top: 20px;
    margin-left: 20px;
}

.information-bird__task.none-active {
    display: none;
}

.answers__list-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.answers__list-item {
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fffeb6;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top-width: 0px;
    border-left: 1px solid #555;
    border-right: 1px solid #555;
    border-bottom: 1px solid #555;
}

.answers__list-item:hover {
    background-color: gold;
}

.li-btn {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 15px;
    border-radius: 50%;
    -webkit-transition: .1s;
    transition: .1s;
    background-color: #444;
    margin-left: 20px;
}

.answers__list-item.correct .li-btn {
    background-color:#00bc8c ;
}

.answers__list-item.incorrectly .li-btn {
    background-color:tomato ;
}

.answers__list-item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 1px solid #555;
}

.answers__list-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

.information-bird__wrapper-bird-image {
}

.information-bird__description-bird {
    display: none;
    text-align: start;
    margin-left: 20px;
    margin-right: 20px;
}

.information-bird__description-bird.active {
display: block;
}

.wrapper-score {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-right: 20px;
}

.btn-next-level {
    width: 100%;
    height: 30px;
    background-color: grey;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-next-level.active {
    background-color: #00bc8c;  
}

.btn-next-level.active:hover {
    background-color: #008966;
}

@media screen and (max-width: 980px) {

    .information-bird__wrapper-image-player.active{
        display: flex;
        flex-direction: column;
        margin-right: 20px;
    }

    .information-bird__description-bird {
        margin-bottom: 0px;
    }

}

@media screen and (max-width: 767px) {

    .wrapper-answers-information{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        gap: 20px;
        justify-content: space-between;
    } 

    .answers{
         align-self: center;
         width: 100%;
    }

    .information-bird {
        width: 100%;
        padding-bottom: 20px;
    }

    .header__wrapper-header {
    padding-left: 50px;
    padding-right: 50px;
    }

    .main {
    padding-left: 50px;
    padding-right: 50px;
    }

}

@media screen and (max-width: 575px) {

    .header__wrapper-header {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .main {
        padding-left: 15px;
        padding-right: 15px;
    }

    .random-bird {
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .random-bird__group {
        margin-left: 0px;
        padding-right: 0px;
    }

    .header__list {
        gap:10px;
    }

   /* .random-bird__name-bird{
        align-self: center;

    }*/
    .random-bird__wrapper-name-bird {
        justify-content: center;
    }

}