body {
    margin: 0px;
}

li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

.page {
    width: 100vw;
    min-width: 320px;
    min-height: 100vh;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    color: #111111;
    text-align: center;
    /*background: url("./../assets/image/photo-1572402230267-f3e267c1e5a2.jpg");*/
    /*center/cover, rgba(0, 0, 0, 0.5);*/
    background-blend-mode: multiply;
    transition: background-image 1s ease-in-out;
    background-repeat: no-repeat;
   /* background-size: 100%;*/
    background-size: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    background-position: center 80px;
}


.header__wrapper-header {
    height: 80px;
    
    background-color: #fffeb6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.header__logo {
    background-image: url("https://birds-quiz.netlify.app/static/media/logo.4f82cd73.svg");
    width: 200px;
    height: 55px;
    background-size: contain;
    background-repeat: no-repeat;
}

.header__list {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.header__link {
    cursor: pointer;
}

.footer{
    height: 80px;
    margin-bottom: 0px;
    background-color: #fffeb6;
    bottom: 0px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.main {
   /* width: 100vw;*/
    height: calc(100vh - 160px);
    display: flex;
    justify-content: center;
    background-color: darkseagreen;
    align-items: center;
}

.main__slider {
    background-image: url("./../assets/image/photo-1572402230267-f3e267c1e5a2.jpg");
    width: 50%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}

.main__description,
.main__greeting {
    width: 20%;
    font-family: roboto;
    font-size: 25px;
    display: flex;
    align-self: flex-start;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.slide-prev {
    margin-left:20px;
    background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
    margin-right:20px;
    background-image: url("../assets/svg/slider-next.svg");
}

.slider-icon {
    /*position: absolute;
    top:50%;*/
   /* margin-top: -16px;*/
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: 0;
    transition: 0.3s;
}

/*.slider-icon:hover {
    border-radius: 70px;
    border:1px solid black;
}*/

@media screen and (max-width: 980px) {

    .main {
        flex-direction: column;
        padding-left: 50px;
        padding-right: 50px;
        /*align-self: center;*/
    } 

    .main__description,
    .main__greeting {
    width: 100%;
    align-self:center;
    padding-top: 20px;
    margin-top: 0px;
    
    }

    .main__slider {
    width: 80%;
    }

}

@media screen and (max-width: 767px) {
    .main__slider {
        width: 100%;
        }
}

@media screen and (max-width: 575px) {

    .main {
    padding-left: 15px;
    padding-right: 15px;
    }

.main__description,
.main__greeting {
    padding-left: 0px;
    padding-right: 0px;
}
}

